{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'about_us.css' %}">
{% endblock %}

{% block content %}
    <div class="main-div-about-us">
        <h2 class="h2-title">A Doce Jornada da Sugar House: Uma História de Paixão e Talento</h2>
        <p>Em 2020, uma nova estrela brilhava no cenário da confeitaria de Belo Horizonte, Minas Gerais. 
            Esse brilho vinha de uma pequena, mas encantadora, confeitaria chamada Sugar House, criada por 
            Julia Ludimila Siqueira Silva. A história da Sugar House é uma ode à paixão e ao talento por doces 
            que Julia nutre desde a infância.</p>

        <p>Julia sempre teve um amor especial pela arte de confeitar, um talento que ela desenvolveu e 
            aperfeiçoou ao longo dos anos. Seus primeiros passos na confeitaria foram dados na cozinha de sua 
            casa, onde experimentava receitas, misturava ingredientes e criava sobremesas que encantavam 
            amigos e familiares. A sua paixão se transformou em uma missão: compartilhar sua arte com o mundo 
            e fazer com que cada pessoa experimentasse a mesma alegria que ela sentia ao criar.</p>

        <p>A ideia de abrir uma confeitaria surgiu quando Julia decidiu transformar sua paixão em um negócio.
             Em meio à pandemia, quando muitos sonhos estavam sendo adiados, Julia encontrou uma oportunidade 
             de trazer um pouco de doçura e alegria para a vida das pessoas. Assim nasceu a Sugar House, 
             um refúgio doce no coração de Belo Horizonte.</p>

        <p>A Sugar House não é apenas um lugar onde se vendem bolos e doces; é um espaço onde a arte e a 
            paixão se encontram. Cada receita é uma obra-prima, cada bolo é uma criação única que reflete a 
            dedicação e o cuidado de Julia. Desde o momento em que você entra na loja, é envolvido pelo aroma 
            irresistível de produtos frescos, feitos com ingredientes de alta qualidade e uma pitada de amor.</p>

        <p>A decoração da Sugar House é um reflexo da própria Julia – charmosa, acolhedora e com um toque de 
            elegância. As vitrines exibem uma variedade de delícias, desde bolos de aniversário elaborados 
            até cupcakes e tortas que parecem saídas de um conto de fadas. Mas o que realmente torna a 
            Sugar House especial é a conexão pessoal que Julia estabelece com seus clientes. 
            Ela acredita que cada doce tem uma história e adora ouvir as histórias e ocasiões que seus 
            clientes comemoram.</p>

        <p>Desde sua inauguração, a Sugar House tem sido um ponto de encontro para aqueles que buscam algo 
            mais do que apenas um doce; eles encontram uma experiência, um pedacinho da paixão de Julia em 
            cada mordida. A confeitaria rapidamente se tornou um lugar querido por muitos, um local onde as 
            celebrações são adornadas com a doçura e a criatividade que só a Sugar House pode oferecer.</p>

        <p>Em cada bolinho, em cada torta e em cada detalhe da Sugar House, a história de Julia Ludimila 
            Siqueira Silva continua a ser contada – uma história de sonho, determinação e, acima de tudo, 
            uma profunda paixão pela arte de confeitar.</p>

    </div>
{% endblock %}
