{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="contact-div">
        <h2>Nossos Canais Oficias</h2>
        <p>Você pode entrar em contato conosco através dos nossos canais oficiais. Estamos disponíveis para ajudar e responder a qualquer dúvida ou sugestão.</p>
        <p><strong>Contate-nos pelos seguintes canais:</strong></p>
        <ul>
            <li><strong>Email:</strong> contato@exemplo.com</li>
            <li><strong>Telefone:</strong> (11) 1234-5678</li>
            <li><strong>Redes Sociais:</strong> <a href="https://facebook.com/exemplo" target="_blank">Facebook</a>, <a href="https://twitter.com/exemplo" target="_blank">Twitter</a>, <a href="https://instagram.com/exemplo" target="_blank">Instagram</a></li>
        </ul>
        <p>Estamos ansiosos para ouvir de você!</p>
    </div>
    </div>
    <div class="text-div">
        <h2>Preencha o formulário </h2>
        <p>Coloque os seus dados corretamente e em breve entraremos em contato !<br>
            Fique a vontade para deixar avaliações, sugestões e o achar importante que saibamos.</p>
    </div>
    <div class="form-div"></div>
        <form class="contact-form" method="post" action="">
        {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
{% endblock %}