{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="contact-div">
        <h2>Nossos Canais Oficias</h2>
        <p>Você pode entrar em contato conosco através dos nossos canais oficiais. Estamos disponíveis para ajudar e responder a qualquer dúvida ou sugestão.</p>
        <p><strong>Contate-nos pelos seguintes canais:</strong></p>
        <ul>
            <li><strong>Email:</strong> sugarhousebh@gmail.com</li>
            <li><strong>Telefone:</strong> (31) 97123-0711</li>
            <li><strong>Instagram:</strong> @sugarhousebh</li>
            <button class="btn-wpp"><a href="https://wa.me/message/XBKDLHOWHD7NJ1">Whatsapp</a></button>
        </ul>
        <p>Estamos ansiosos para ouvir de você!</p>
    </div>
{% endblock %}