{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
    <h2 class="menu-title">Confira nossos bolos deliciosos e outros produtos !</h2>
    <div class="menu-div">
        <img src="../../static/images/menu_1.png" class="menu-img" alt="Descrição da Imagem">
        <img src="../../static/images/menu_3.png" class="menu-img" alt="Descrição da Imagem">
        <img src="../../static/images/menu_4.png" class="menu-img" alt="Descrição da Imagem">
        <img src="../../static/images/menu_5.png" class="menu-img" alt="Descrição da Imagem">
        <img src="../../static/images/menu_6.png" class="menu-img" alt="Descrição da Imagem">
        <img src="../../static/images/menu_2.png" class="menu-img" alt="Descrição da Imagem">
    </div>
{% endblock %}
