.brigadeiros-img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove o espaçamento embaixo da imagem */
}

.index-welcome-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    background: rgba(0, 0, 0, 0.3); /* Fundo com opacidade mais baixa */
    padding: 20px;
    border-radius: 8px; /* Opcional: arredondar os cantos do fundo */
    text-align: center;
    width: 80%; /* Ajuste conforme necessário */
    font-size: 1.2em; /* Ajusta o tamanho da fonte para melhorar a legibilidade */
    line-height: 1.4; /* Melhora a legibilidade com espaçamento entre linhas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra mais leve para não destacar tanto */
}

.btn-index {
    background-color: black;
    color: white;
    border: 5px solid black;
    border-radius: 5px;
    height: 40px;
}

.btn-index:hover {
    background-color: pink;
    color: black; 
    border-color: pink
}

.btn-index a {
    text-decoration: none;
    color: white;
}

.recommendations-title {
    font-size: 2.5rem; /* Aumenta o tamanho da fonte para mais destaque */
    color: #d62d77; /* Cor rosa vibrante para combinar com o tema de confeitaria */
    text-align: center; /* Centraliza o texto */
    margin-top: 30px; /* Maior margem superior para espaçamento */
    margin-bottom: 30px; /* Maior margem inferior para espaçamento */
    font-weight: bold; /* Torna o texto mais ousado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra de texto para profundidade */
    letter-spacing: 1px; /* Adiciona espaçamento entre letras para uma aparência mais elegante */
}

.clients-recommendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
}

.recommendations-img {
    width: 100%;
    height: 650px;
    display: block; /* Remove o espaçamento embaixo da imagem */
}