<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Oficial da Sugar House Confeitaria. Localizada em Belo Horizonte/MG.">
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}
    <title>Sugar House</title>
</head>
<body>
    <header class="base-header">
        <img src="../../static/images/logo_site.jpg" class="logo" alt="Descrição da Imagem">
    </header>
    <nav class="nav-container">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'cardapio' %}">Cardápio</a></li>
            <li><a href="{% url 'sobre_nos' %}">Sobre Nós</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>
    </nav>
    <main class="base-main">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>